# Ignore secret files
backend/python/client_secret.json
backend/python/token.json

# Bytecode & Python cache
__pycache__/
*.pyc

# Virtual environments
.env/
venv/
.venv/

# System files
.DS_Store

# OS/IDE specific
*.swp
.idea/
.vscode/

# Logs
*.logENAM/python/token.json
ENAM/python/client_secret.json
