{% extends "base.html" %}

{% block title %}Announcements{% endblock %}

{% block content %}
<section id="ann" class="container mt-4 mb-5">
  <h2 class="mb-4 text-center">Corporate <span class="text-primary">Announcements</span></h2>
  <div class="table-controls mb-3" id="announcementControls"></div>
  <div class="w-100" style="max-width: 95vw; overflow-x: auto;">
    <table id="announcementTable" class="display" style="width: 100%;"></table>
  </div>
</section>
{% endblock %}

{% block extra_scripts %}
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/table.css') }}">
  <script src="{{ url_for('static', filename='js/announcements.js') }}"></script>
  <script src="{{ url_for('static', filename='js/table_utils.js') }}"></script>
{% endblock %}
