{% extends "base.html" %}

{% block title %}Insider Trading{% endblock %}

{% block content %}
<section id="insd" class="container mt-4 mb-5">
  <h2 class="mb-4 text-center">Insider <span class="text-primary">Trading</span></h2>
  <div class="table-controls mb-3" id="insiderControls"></div>
  <div class="w-100" style="max-width: 95vw; overflow-x: auto;">
    <table id="insiderTable" class="display nowrap" style="width: 100%;"></table>
  </div>
</section>
{% endblock %}

{% block extra_scripts %}
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/table.css') }}">
  <script src="{{ url_for('static', filename='js/insider.js') }}"></script>
  <script src="{{ url_for('static', filename='js/table_utils.js') }}"></script>
{% endblock %}
